<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>allStudentServlet</servlet-name>
        <servlet-class>org.project.projet_bourse.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allStudentServlet</servlet-name>
        <url-pattern>/students</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addNewStudentServlet</servlet-name>
        <servlet-class>org.project.projet_bourse.AddStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addNewStudentServlet</servlet-name>
        <url-pattern>/addStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>modifyStudentServlet</servlet-name>
        <servlet-class>org.project.projet_bourse.modifyStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modifyStudentServlet</servlet-name>
        <url-pattern>/updateStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>filterServlet</servlet-name>
        <servlet-class>org.project.projet_bourse.filterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>filterServlet</servlet-name>
        <url-pattern>/filterStudents</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchStudentServlet</servlet-name>
        <servlet-class>org.project.projet_bourse.SearchStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchStudentServlet</servlet-name>
        <url-pattern>/searchStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>minorStudentServlet</servlet-name>
        <servlet-class>org.project.projet_bourse.MinorStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>minorStudentServlet</servlet-name>
        <url-pattern>/minorStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>moneyServlet</servlet-name>
        <servlet-class>org.project.projet_bourse.MoneyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>moneyServlet</servlet-name>
        <url-pattern>/money</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addMoney</servlet-name>
        <servlet-class>org.project.projet_bourse.AddMoneyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addMoney</servlet-name>
        <url-pattern>/addMoney</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>modifyMoneyServlet</servlet-name>
        <servlet-class>org.project.projet_bourse.ModifyMoneyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modifyMoneyServlet</servlet-name>
        <url-pattern>/modifyMoney</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteMoneyServlet</servlet-name>
        <servlet-class>org.project.projet_bourse.DeleteMoneyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteMoneyServlet</servlet-name>
        <url-pattern>/deleteMoney</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>calendarServlet</servlet-name>
            <servlet-class>org.project.projet_bourse.calendarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>calendarServlet</servlet-name>
        <url-pattern>/calendar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addCalendarServlet</servlet-name>
        <servlet-class>org.project.projet_bourse.AddCalendarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addCalendarServlet</servlet-name>
        <url-pattern>/addCalendar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteCalendarServlet</servlet-name>
        <servlet-class>org.project.projet_bourse.DeleteCalendarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteCalendarServlet</servlet-name>
        <url-pattern>/deleteCalendar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>paymentServlet</servlet-name>
        <servlet-class>org.project.projet_bourse.PaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>paymentServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addPaymentServlet</servlet-name>
        <servlet-class>org.project.projet_bourse.AddPaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addPaymentServlet</servlet-name>
        <url-pattern>/addPayment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>modifyPaymentServlet</servlet-name>
        <servlet-class>org.project.projet_bourse.ModifyPaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modifyPaymentServlet</servlet-name>
        <url-pattern>/modifyPayment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deletePaymentServlet</servlet-name>
        <servlet-class>org.project.projet_bourse.DeletePaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletePaymentServlet</servlet-name>
        <url-pattern>/deletePayment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>modifyCalendarServlet</servlet-name>
        <servlet-class>org.project.projet_bourse.ModifyCalendarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modifyCalendarServlet</servlet-name>
        <url-pattern>/modifyCalendar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>lateComerServlet</servlet-name>
        <servlet-class>org.project.projet_bourse.LateComerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lateComerServlet</servlet-name>
        <url-pattern>/lateComer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendEmailServlet</servlet-name>
        <servlet-class>org.project.projet_bourse.SendEmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendEmailServlet</servlet-name>
        <url-pattern>/send-email</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PdfServlet</servlet-name>
        <servlet-class>org.project.projet_bourse.PdfServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PdfServlet</servlet-name>
        <url-pattern>/pdfGenerate</url-pattern>
    </servlet-mapping>

</web-app>